@font-face {
  font-family: "Rodin";
  src: url("../font/font.otf");
}

* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html {
  color: white;
  background-color: #121212;
}

a {
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition: 0.2s;
  cursor: pointer;
}

.red {
  background-color: #aa0404;
}

.red:hover {
  background-color: #b82929;
}

.blue {
  background-color: #1555cc;
}

.blue:hover {
  background-color: #1a6acc;
}

.green {
  background-color: #2f8649;
}

.green:hover {
  background-color: #3aa059;
}

.tool-image {
    border-radius: 12px;
    margin: 24px;
    box-shadow: 0px 0px 25px black;
}

.tools-buttons {
    display: flex;
}

.tools-buttons .btn-tools {
    margin-left: 16px;
    margin-right: 16px;
}

select {
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.screen {
  display: flex;
  width: 85%;
  float: left;
  align-items: center;
}

.screen-select {
  width: 80%;
  margin-left: 6px;
}

input[type="text"],[type="number"] {
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

textarea {
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.i1 {
  width: 250px;
}

.i2 {
  width: 250px;
}

.back {
  position: fixed;
  bottom: 5px;
  padding: 15px;
  margin: 10px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: auto;
  padding: auto;
  width: 750px;
  table-layout: center;
  background-color: #ccc;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background-color: #f8f8f8;
  border: 1px solid #121212;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
  background-color: #262626;
  color: #ccc;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.image-container {
  position: relative;
  text-align: center;
}

.i-t {
  width: 640px;
  height: 480px;
}

.i-b {
  width: 637px;
  height: 478px;
}

.i-c {
  width: 676px;
  height: 578px;
}

.i-r {
  width: 637px;
  height: 478px;
}

.slot {
  font-family: Rodin;
  position: absolute;
  color: white;
  text-shadow: 
  3px 0 0 #2a2c2a, 
  -3px 0 0 #2a2c2a, 
  0 3px 0 #2a2c2a, 
  0 -3px 0 #2a2c2a, 
  2px 2px #2a2c2a, 
  -2px -2px 0 #2a2c2a, 
  2px -2px 0 #2a2c2a, 
  -2px 2px 0 #2a2c2a;
  font-size: 30px;
  display: inline-block;
  width: 800px;
  letter-spacing: 1px;
}

.name {
  font-family: Rodin;
  position: absolute;
  display: flex;
  align-content: center;
  text-align: left;
  color: #fcd4b7;
  text-shadow: 
  3px 0 0 #000000, 
  -3px 0 0 #000000, 
  0 3px 0 #000000, 
  0 -3px 0 #000000, 
  2px 2px #000000, 
  -2px -2px 0 #000000, 
  2px -2px 0 #000000, 
  -2px 2px 0 #000000;
  font-size: 33px;
  display: inline-block;
  width: 800px;
  height: 48px;
  padding-left: 10px;
}

.name_back {
  font-family: Rodin;
  position: absolute;
  display: flex;
  align-content: center;
  text-align: left;
  background: linear-gradient(0deg, #d36c23 25%, #fcd4b7 75%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 33px;
  display: inline-block;
  width: 800px;
  height: 48px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.race {
  font-family: Rodin;
  position: absolute;
  color: black;
  font-size: 29px;
  display: inline-block;
}

#name1 {
  bottom: 78.5%;
  left: 14%;
}

#name2 {
  top: 8.8%;
  left: 14%;
}

#name3 {
  top: 20.5%;
  left: 14%;
}

#name4 {
  top: 32.3%;
  left: 14%;
}

#name5 {
  top: 44%;
  left: 14%;
}

#name6 {
  top: 55.7%;
  left: 14%;
}

#name7 {
  top: 67.2%;
  left: 14%;
}

#name8 {
  top: 79%;
  left: 14%;
}

#track1 {
  top: 34%;
  left: 2%;
}

#track2 {
  top: 47%;
  left: 2%;
}

#track3 {
  top: 59.5%;
  left: 2%;
}

#track4 {
  top: 72.5%;
  left: 2%;
}

#battle1 {
  top: -2.8%;
  left: 4.2%;
}

#battle2 {
  top: 10.5%;
  left: 4.2%;
}

#battle3 {
  top: 23.6%;
  left: 4.2%;
}

#battle4 {
  top: 37%;
  left: 4.2%;
}

#battle5 {
  top: 50.5%;
  left: 4.2%;
}

#battle6 {
  top: 63.8%;
  left: 4.2%;
}

#name, #name_back {
  top: 48.3%;
  left: -1%;
}

.console {
  font-family: Rodin;
  color: white;
  text-shadow: 
  3px 0 0 #2a2c2a, 
  -3px 0 0 #2a2c2a, 
  0 3px 0 #2a2c2a, 
  0 -3px 0 #2a2c2a, 
  2px 2px #2a2c2a, 
  -2px -2px 0 #2a2c2a, 
  2px -2px 0 #2a2c2a, 
  -2px 2px 0 #2a2c2a;
  font-size: 18px;
}

.preview_tracks {
  position: absolute;
  object-fit: cover;
  width: 639.5px;
  height: 165px;
  top: 1.8%;
  left: 0%;
}

.select {
  margin-left: 12px;
}

.select input[type="checkbox"] {
  transform: scale(1.2);
  margin-left: 6px;
}

.select input[type="checkbox"]:hover {
  cursor: pointer;
}

.preview_select_tracks {
  opacity: 0;
  z-index: 1;
  position: absolute;
  object-fit: cover;
  width: 640px;
  height: 165px;
  top: 2%;
  left: 0%;
}

.preview_characters {
  position: absolute;
  object-fit: contain;
  width: 260px;
  height: 180px;
  top: 32%;
  left: 31%;
}

.preview_select_characters {
  opacity: 0;
  z-index: 1;
  position: absolute;
  object-fit: contain;
  object-position: bottom;
  width: 260px;
  height: 180px;
  top: 32%;
  left: 31%;
}

.preview_select_slots {
  opacity: 0;
  z-index: 2;
  position: absolute;
  object-fit: contain;
  width: 90px;
  height: 70px;
}

.preview_select_slots:hover {
  cursor: pointer;
}

.preview_slots {
  position: absolute;
  object-fit: contain;
  object-position: bottom;
  width: 62px;
  height: 62px;
  z-index: 1;
}

.preview_names {
  position: absolute;
  object-fit: contain;
  object-position: bottom;
  width: 42px;
  height: 42px;
  z-index: 1;
}

.preview_select_names {
  opacity: 0;
  z-index: 2;
  position: absolute;
  object-fit: contain;
  width: 52px;
  height: 42px;
}

.preview_select_names:hover {
  cursor: pointer;
}

#slot_select1 {
  top: 71%;
  left: 16%;
}

#slot_select2 {
  top: 71%;
  left: 34.5%;
}

#slot_select3 {
  top: 71%;
  left: 53%;
}

#slot_select4 {
  top: 71%;
  left: 71.5%;
}

#slot_select5 {
  top: 85%;
  left: 16%;
}

#slot_select6 {
  top: 85%;
  left: 34.5%;
}

#slot_select7 {
  top: 85%;
  left: 53%;
}

#slot_select8 {
  top: 85%;
  left: 71.5%;
}

#slot_image1 {
  top: 72%;
  left: 19%;
}

#slot_image2 {
  top: 72%;
  left: 37.8%;
}

#slot_image3 {
  top: 72%;
  left: 56.5%;
}

#slot_image4 {
  top: 72%;
  left: 75.3%;
}

#slot_image5 {
  top: 86%;
  left: 19%;
}

#slot_image6 {
  top: 86%;
  left: 37.8%;
}

#slot_image7 {
  top: 86%;
  left: 56.5%;
}

#slot_image8 {
  top: 86%;
  left: 75.3%;
}

#slot_name1, #slot_race1 {
  top: 5%;
  left: 6.5%;
}

#slot_name2, #slot_race2 {
  top: 16.5%;
  left: 6.5%;
}

#slot_name3, #slot_race3 {
  top: 28.1%;
  left: 6.5%;
}

#slot_name4, #slot_race4 {
  top: 39.8%;
  left: 6.5%;
}

#slot_name5, #slot_race5 {
  top: 51.5%;
  left: 6.5%;
}

#slot_name6, #slot_race6 {
  top: 63.3%;
  left: 6.5%;
}

#slot_name7, #slot_race7 {
  top: 74.8%;
  left: 6.5%;
}

#slot_name8, #slot_race8 {
  top: 86.5%;
  left: 6.5%;
}

.background {
  object-fit: cover;
  position: relative;
  border-radius: 10px;
}

.preview_battle {
  position: absolute;
  object-fit: cover;
  width: 185px;
  height: 366px;
  top: 4.5%;
  left: 2.6%;
}

.preview_select_battle {
  opacity: 0;
  z-index: 1;
  position: absolute;
  object-fit: cover;
  width: 185px;
  height: 366px;
  top: 4.5%;
  left: 2.5%;
}

.ui_content {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui_things {
  margin-left: 24px;
  margin-right: 24px;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 76px;
}

.tool {
  background-color: #1b1b1b;
  padding: 24px;
  width: 25%;
  border-radius: 12px;
}

.tool-infos {
  display: flex;
  align-items: start;
  align-items: center;
}

.tool-names {
  text-align: left;
}

.tool-names h4 {
  margin-top: -8px;
}

.tool-requirements {
  display: block;
  text-align: left;
  align-items: center;
  margin-bottom: 48px;
}

.tool-infos img {
  margin-right: 20px;
}

.btn-tools {
  display: block;
  width: 50%;
  padding: 12px;
  border-radius: 12px;
  transition: 0.2s;
  text-decoration: none;
}

.blank {
  user-select: none;
}

.screenshot {
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 15px;
  margin: 10px;
  float: right;
}

.clipboard {
  position: fixed;
  bottom: 65px;
  right: 5px;
  padding: 15px;
  margin: 10px;
  float: right;
}

#select_lines {
  margin-top: 36px;
}

#slot1 {
  margin-top: 48px;
}

.lines {
  position: absolute;
  top: 0%;
  left: 0%;
}

#calculator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
  width: 100%;
  text-align: left;
  gap: 24px;
}

#wheel {
  border-radius: 16px;
}

#infos-container #stats-group {
  display: block;
  margin: 0 auto;
  width: auto;
}

#infos-container #stats div {
  margin-bottom: 0px;
}

#infos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

#infos-container h2 {
  font-family: Rodin;
  color: white;
  text-shadow: 
  3px 0 0 #2a2c2a, 
  -3px 0 0 #2a2c2a, 
  0 3px 0 #2a2c2a, 
  0 -3px 0 #2a2c2a, 
  2px 2px #2a2c2a, 
  -2px -2px 0 #2a2c2a, 
  2px -2px 0 #2a2c2a, 
  -2px 2px 0 #2a2c2a;
  margin-bottom: 8px;
  letter-spacing: 1px;
  font-size: 26px;
}

#stats {
  text-align: left;
}

#stats-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.progress-container {
  position: relative;
  margin-bottom: 20px;
  width: 300px;
}

.progress-steps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.progress-steps div {
  width: 2px;
  height: 100%;
  background-color: #00000065;
}

.progress-steps div:nth-child(1), .progress-steps div:nth-child(7) {
  opacity: 0;
}

progress {
  border-radius: 0px;
  background-color: #313031;
  border: solid #4a4d4a 2px;
  outline: solid white 2px;
  width: 100%;
  height: 18px;
}

progress::-webkit-progress-bar {
  background-color: #313031;
  border-radius: 0px;
}

progress::-webkit-progress-value {
  background: linear-gradient(0deg, rgba(24,170,255,1) 0%, rgba(99,207,255,1) 100%);
  border-radius: 0px;
}

progress::-moz-progress-bar {
  background: linear-gradient(0deg, rgba(24,170,255,1) 0%, rgba(99,207,255,1) 100%);
  border-radius: 0px;
}

#select-buttons {
  display: flex;
  gap: 64px;
}

#wheel {
  width: 600px;
}

.stats-img-next {
  clip-path: inset(0% 0 0 0);
  mask-image: linear-gradient(to bottom, transparent 65%, black 80%);
}

.stats-img-next-2 {
  clip-path: inset(55% 0 0 0);
  mask-image: linear-gradient(to bottom, transparent 50%, black 75%);
}

.stats-img-previous {
  clip-path: inset(0 0 50% 0);
  mask-image: linear-gradient(to top, transparent 50%, black 80%);
}

.stats-img-previous-2 {
  clip-path: inset(0 0 55% 0);
  mask-image: linear-gradient(to top, transparent 55%, black 80%);
}

.collapsible {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  color: white;
  cursor: pointer;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.2s;
  z-index: 1;
}

.collapsible::after {
  content: '🞂';
  transform: rotate(90deg);
  font-size: 24px;
  color: white;
  float: right;
  margin-right: 24px;
}

.collapsible-active, .collapsible:hover {
  background-color: #262626;
}

.collapsible-active::after {
  transform: rotate(-90deg);
}

.collapsible-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 16px;
}

.collapsible-content {
  max-height: 0;
  width: 50%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #262626;
  font-size: 16px;
  text-align: center;
}

.collapsible-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.collapsible-content h3 {
  float: left;
  margin-left: 16px;
  height: 15px;
}

.collapsible-infos {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 36px;
  height: 35px;
}

.collapsible-infos i:hover {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .progress-container {
    width: 200px;
  }

  #infos-container h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .ui_content {
    display: flex;
    flex-direction: column;
  }

  #calculator-container {
    flex-direction: column;
  }

  .collapsible, .collapsible-content {
    width: 75%;
  }

  table {
    width: 500px;
  }
}

@media screen and (max-width: 700px) {
  #infos-container {
    flex-direction: column;
  }

  #calculator-container {
    margin-bottom: 48px;
  }

  .progress-container {
    width: 250px;
  }

  #select-container {
    zoom: 0.6;
  }

  #select-buttons {
    zoom: 0.8;
    gap: 32px;
  }

  .collapsible, .collapsible-content {
    width: 90%;
  }

  table {
    width: 350px;
  }
}

@media screen and (max-width: 430px) {
  .title {
    font-size: 32px;
  }

  .tool-image {
    width: 75%;
  }

  #select-container {
    zoom: 0.5;
  }

  #select-buttons {
    zoom: 0.7;
    gap: 32px;
  }
}