@font-face {
  font-family: "Rodin";
  src: url("../font/font.otf");
}

* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html {
  color: white;
  background-color: #121212;
}

a {
  color: white;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition: 0.2s;
  cursor: pointer;
}

.red {
  background-color: #aa0404;
}

.red:hover {
  background-color: #af1919;
}

.tools {
    border-radius: 12px;
    margin: 24px;
    box-shadow: 0px 0px 25px black;
}

select {
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

input[type="text"],[type="number"] {
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.i1 {
  width: 300px;
}

.i2 {
  width: 500px;
}

.back {
  position: fixed;
  bottom: 5px;
  padding: 15px;
  margin: 10px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: auto;
  padding: auto;
  width: 40%;
  table-layout: center;
  background-color: #ccc;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background-color: #f8f8f8;
  border: 1px solid #121212;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
  background-color: #262626;
  color: #ccc;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.image-container {
  position: relative;
  text-align: center;
  width: 650px;
}

.track {
  font-family: Rodin;
  position: absolute;
  color: white;
  text-shadow: -2px -2px 0 #2a2c2a, 2px -2px 0 #2a2c2a, -2px 2px 0 #2a2c2a, 2px 2px 0 #2a2c2a;
  font-size: 30px;
  display: inline-block;
  width: 800px;
}

#track1 {
  top: 33.5%;
  left: 3%;
}

#track2 {
  top: 46.5%;
  left: 3%;
}

#track3 {
  top: 59%;
  left: 3%;
}

#track4 {
  top: 72%;
  left: 3%;
}

.console {
  font-family: Rodin;
  color: white;
  text-shadow: -2px -2px 0 #2a2c2a, 2px -2px 0 #2a2c2a, -2px 2px 0 #2a2c2a, 2px 2px 0 #2a2c2a;
  font-size: 18px;
}

.preview {
  position: absolute;
  object-fit: cover;
  width: 639.5px;
  height: 165px;
  top: 1.8%;
  left: 0.8%;
}

.select {
  margin-left: 12px;
}

.select input[type="checkbox"] {
  transform: scale(1.2);
  margin-left: 6px;
}

.preview_select {
  opacity: 0;
  z-index: 1;
  position: absolute;
  object-fit: cover;
  width: 640px;
  height: 165px;
  top: 2%;
  left: 1%;
}

.background {
  position: relative;
  border-radius: 10px;
}